<h2>Products</h2>

<div *ngFor="let product of products">

  <a [title]="product.name + ' details'">

  <h3> {{product.name}} </h3>
  </a>

  <p *ngIf="product.description">
  Desription: {{product.name}}
</p>

<button (click)="share()">
  Share
</button>

<app-product-alert
  [product]="product"
  (notify)="onNotify()">
</app-product-alert>

</div>



<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->